.form-container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: auto;
}

.content-area{
    height: 100%;
}

.form-preview-area{
    background-color: white;
    border-right: 1px solid rgb(226, 226, 226);
    display: block;
    height: 100%;
    width: 36%;
    float: left;
}
.conversation-area{
    padding:10px 10px 0 10px;
    
    display: block;
    height: 100%;
    width: 62%;
    overflow: hidden;    
    float: left;
}

.conversation-content{
    height: 90%;
    overflow-y: auto;
    padding-bottom: 30px;
}
.conversation-k-input{
    width: 100%;
    height: 40px;
    border-radius: 2px; 
    border: 1px solid #b4c2da;
    padding-left: 20px;
}

.input-elm-container{
    position: relative;
}

.k-icon{
    position: absolute;
    right: 8px;
    top:6px;
}