.transition-container{
    height: 100vh;
    margin:auto;
    position: relative;
    background-color: #e4e6e6;
}


.transition-logo{
    position: absolute;
}

.transition-details{
    position: relative;
    width: 606px;
    margin: auto;
    top: 24%;
}

.transition-title{
    position: relative;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

.transition-progress{
    position: relative;
}
