.dashboard-container{
    height: 93vh;
    position: relative;
    background-color: #f1f1f1;
}
.conversation-container{
    position: absolute;
    top: 20%;
    left: 40%;
}
.conversation-input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #f1f1f1;
    border-bottom: 2px solid #c2c6cc;
    color: #1d6ae5;
    font-size: 3.2rem;
    text-align: center;
    padding: 0;
    text-transform: lowercase;    
    width: 22rem;
}


.conversation-button{
    background-color: #1555ba;
    color:white;
    margin: 2.4rem auto;
    display: block;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
    text-align: center;
    background-color: #1d6ae5;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 1.4rem 3.2rem;    
    width: auto;
}